{% extends "base.html" %}

{% block title %}Sales - Bean & Brew{% endblock %}

{% block content %}
<h1>Sales</h1>
<p>See our recent sales</p>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>product description</th>
        <th>cost</th>
        <th>first name</th>
        <th>last name</th>

      </tr>
    </thead>
    <tbody>
      {% for sales in sales %}
        <tr>
          <td>{{ sales[0] }}</td>
          <td>{{ sales[1] }}</td>
          <td>{{ sales[2] }}</td>
          <td>{{ sales[3] }}</td>
          <td>{{ sales[4] }}</td>
          <td>{{ sales[5] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}